[Unit]
Description=Accounts Service
Documentation=man:accounts-daemon(8)
Requires=dbus.service
After=dbus.service

[Service]
Type=dbus
BusName=org.freedesktop.Accounts
ExecStart=@LIBEXECDIR@/accounts-daemon

[Install]
WantedBy=multi-user.target
