[Unit]
Description=ACPI event daemon
Documentation=man:acpid(8)

[Service]
StandardInput=socket
ExecStart=@SBINDIR@/acpid

[Install]
WantedBy=multi-user.target
