[Unit]
Description=Save/Restore Sound Card State
After=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@SBINDIR@/alsactl restore
ExecStop=@SBINDIR@/alsactl store

[Install]
WantedBy=multi-user.target
