[Unit]
Description=Automounts filesystems on demand
After=network.target
Before=remote-fs.target

[Service]
Type=forking
EnvironmentFile=@SYSCONFIG_DIR@/autofs
ExecStart=@SBINDIR@/automount --timeout 60
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
