[Unit]
Description=Avahi mDNS/DNS-SD Configuration Daemon
Documentation=man:avahi-dnsconfd(8)
After=avahi-daemon.service
Requires=avahi-daemon.service

[Service]
Type=forking
ExecStart=@SBINDIR@/avahi-dnsconfd -D
ExecStop=@SBINDIR@/avahi-dnsconfd -k
ExecReload=@SBINDIR@/avahi-dnsconfd -r

[Install]
WantedBy=multi-user.target
