[Unit]
Description=Dovecot IMAP/POP3 email server
Documentation=man:dovecot(1) man:dovecot-lda(1) man:doveconf(1)
After=network.target

[Service]
Type=forking
ExecStart=@SBINDIR@/dovecot
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/dovecot/master.pid

[Install]
WantedBy=multi-user.target
