[Unit]
Description=firewalld - dynamic firewall daemon
Documentation=man:firewalld(1)
After=dbus.service
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=dbus
BusName=org.fedoraproject.FirewallD1
EnvironmentFile=-@SYSCONFIG_DIR@/firewalld
ExecStart=@SBINDIR@/firewalld --nofork --nopid $FIREWALLD_ARGS
ExecReload=@BINDIR@/firewall-cmd --reload

[Install]
WantedBy=multi-user.target
