[Unit]
Description=ISC KEA CTRL AGENT
Documentation=man:kea-ctrl-agent(8)
Wants=network-online.target
After=network-online.target time-sync.target

[Service]
ExecStart=@SBINDIR@/kea-ctrl-agent -c @SYSCONFDIR@/kea/kea-ctrl-agent.conf
RuntimeDirectory=kea

[Install]
WantedBy=kea-dhcp4-server.service
WantedBy=kea-dhcp6-server.service
