[Unit]
Description=Internet domain name server
After=network.target
Provides=$named

[Service]
ExecStart=@SBINDIR@/named -f -u named -t /srv/named -c @SYSCONFDIR@/named.conf
ExecReload=@SBINDIR@/rndc reload
ExecStop=@SBINDIR@/rndc stop

[Install]
WantedBy=multi-user.target
