[Unit]
Description=Network Manager
Documentation=man:NetworkManager(8)
Wants=network.target
After=network-pre.target dbus.service
Before=network.target
Provides=networkmanager $network

[Service]
Type=dbus
BusName=org.freedesktop.NetworkManager
ExecStart=@SBINDIR@/NetworkManager --no-daemon
ExecReload=@BINDIR@/busctl call org.freedesktop.NetworkManager /org/freedesktop/NetworkManager org.freedesktop.NetworkManager Reload u 0
Restart=on-failure

[Install]
WantedBy=multi-user.target
