[Unit]
Description=NFS server and services
Requires=network.target proc-fs-nfsd.mount rpcbind.target rpc-mountd.service
Wants=rpc-idmapd.service rpc-statd.service rpc-statd-notify.service
Before=rpc-statd-notify.service
After=network.target proc-fs-nfsd.mount rpcbind.target rpc-idmapd.service rpc-statd.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=@SYSCONFIG_DIR@/nfs-utils
ExecStartPre=@SBINDIR@/exportfs -r
ExecStart=@SBINDIR@/rpc.nfsd $NFSD_OPTS
ExecStop=@SBINDIR@/rpc.nfsd 0
ExecStopPost=@SBINDIR@/exportfs -au
ExecStopPost=@SBINDIR@/exportfs -f
ExecReload=@SBINDIR@/exportfs -r

[Install]
WantedBy=multi-user.target
