[Unit]
Description=NFS Server Daemon
Documentation=man:rpc.nfsd(8)
After=rpcbind.service
Requires=rpcbind.service
Before=nfs-server.target
PartOf=nfs-server.target

[Service]
Type=oneshot
EnvironmentFile=@SYSCONFIG_DIR@/nfs-utils
ExecStart=@SBINDIR@/rpc.nfsd $NFSD_OPTS $NFSD_COUNT
ExecStartPost=@SBINDIR@/exportfs -a
ExecReload=@SBINDIR@/exportfs -a -r
ExecStop=@SBINDIR@/rpc.nfsd 0
ExecStopPost=@SBINDIR@/exportfs -a -u
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
