[Unit]
Description=Samba NetBIOS name server
After=network.target

[Service]
Type=forking
EnvironmentFile=@SYSCONFIG_DIR@/samba
PIDFile=/run/samba/nmbd.pid
ExecStart=@SBINDIR@/nmbd -D $NMBD_OPTS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
