[Unit]
Description=Network Time Protocol daemon
After=network.target nss-lookup.target
Conflicts=systemd-timesyncd.service
Provides=$time

[Service]
Type=forking
PrivateTmp=true
ExecStart=@SBINDIR@/ntpd -g -u ntp:ntp

[Install]
WantedBy=multi-user.target
