[Unit]
Description=Postfix Mail Transport Agent
After=network.target
Conflicts=sendmail.service exim.service

[Service]
Type=forking
PIDFile=/var/spool/postfix/pid/master.pid
ExecStart=@SBINDIR@/postfix start
ExecStop=@SBINDIR@/postfix stop
ExecReload=@SBINDIR@/postfix reload
Restart=always

[Install]
WantedBy=multi-user.target
