[Unit]
Description=Power Profiles Daemon
Documentation=man:power-profiles-daemon(1)
After=dbus.service
Requires=dbus.service

[Service]
Type=dbus
BusName=net.hadess.PowerProfiles
ExecStart=@LIBEXECDIR@/power-profiles-daemon

[Install]
WantedBy=multi-user.target
