[Unit]
Description=NFSv4 ID-name mapping service
Requires=var-lib-nfs-rpc_pipefs.mount
After=var-lib-nfs-rpc_pipefs.mount
BindsTo=nfs-server.service

[Service]
Type=forking
EnvironmentFile=@SYSCONFIG_DIR@/nfs-utils
ExecStart=@SBINDIR@/rpc.idmapd $IDMAPD_OPTS
