[Unit]
Description=RPC bind portmap service
Documentation=man:rpcbind(8)
After=network.target
Wants=rpcbind.socket
Provides=rpcbind $portmap

[Service]
Type=forking
ExecStart=@SBINDIR@/rpcbind

[Install]
WantedBy=multi-user.target
Also=rpcbind.socket
