[Unit]
Description=A file transfer program to keep remote files in sync
ConditionPathExists=@SYSCONFDIR@/rsyncd.conf

[Service]
ExecStart=@BINDIR@/rsync --daemon --no-detach
StandardInput=socket
