[Unit]
Description=Cyrus SASL authentication daemon

[Service]
Type=forking
EnvironmentFile=@SYSCONFIG_DIR@/saslauthd
ExecStart=@SBINDIR@/saslauthd -a $MECHANISMS -n $THREADS $MECH_OPTIONS $SASLAUTHD_OPTS
PIDFile=/run/saslauthd/saslauthd.pid

[Install]
WantedBy=multi-user.target
