[Unit]
Description=OpenLDAP server daemon
After=network.target

[Service]
Type=forking
EnvironmentFile=@SYSCONFIG_DIR@/slapd
ExecStart=@SBINDIR@/slapd -u ldap -g ldap $SLAPD_OPTS

[Install]
WantedBy=multi-user.target
