[Unit]
Description=Samba SMB/CIFS server instance

[Service]
Type=forking
EnvironmentFile=@SYSCONFIG_DIR@/samba
PIDFile=/run/samba/smbd.pid
ExecStart=@SBINDIR@/smbd -F $SMBD_OPTS
ExecReload=/bin/kill -HUP $MAINPID
StandardInput=socket
