[Unit]
Description=Samba SMB/CIFS server
After=network.target nmbd.service winbindd.service

[Service]
Type=forking
EnvironmentFile=@SYSCONFIG_DIR@/samba
PIDFile=/run/samba/smbd.pid
ExecStart=@SBINDIR@/smbd -D $SMBD_OPTS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
