[Unit]
Description=OpenSSH Daemon
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=@SBINDIR@/sshd -D
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
