[Unit]
Description=TLS tunnel for network daemons
Documentation=man:stunnel(8)
After=network.target

[Service]
Type=forking
ExecStart=@BINDIR@/stunnel

[Install]
WantedBy=multi-user.target
