[Unit]
Description=System Monitoring Daemon
After=network.target

[Service]
Type=forking
ExecStart=@SBINDIR@/sysmond
PIDFile=/run/sysmond.pid

[Install]
WantedBy=multi-user.target
