[Unit]
Description=Unbound DNS Resolver
After=local-fs.target network-online.target
Provides=$named

[Service]
PIDFile=/run/unbound.pid
ExecStart=@SBINDIR@/unbound -d
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
