[Unit]
Description=Check Filesystems
DefaultDependencies=no
After=swap.service
Before=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@LIBEXECDIR@/service-scripts/checkfs

[Install]
WantedBy=sysinit.target
