[Unit]
Description=Setup Console Keymap and Font
DefaultDependencies=no
After=sysinit.target
Before=basic.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@LIBEXECDIR@/service-scripts/console

[Install]
WantedBy=basic.target
