[Unit]
Description=Create Files and Directories
DefaultDependencies=no
After=mountfs.service
Before=udev-retry.service sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@LIBEXECDIR@/service-scripts/createfiles

[Install]
WantedBy=sysinit.target
