[Unit]
Description=Create Files and Directories
DefaultDependencies=no
After=mountfs.service
Before=sysinit.target
ConditionPathExists=@INITD_SYSCONFIG_DIR@/createfiles.conf

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@LIBEXECDIR@/service-scripts/createfiles

[Install]
WantedBy=sysinit.target
