[Unit]
Description=Emergency Shell
Documentation=man:sulogin(8)

[Service]
Type=simple
ExecStart=/sbin/sulogin /dev/console
Restart=always
RestartSec=0
