[Unit]
Description=initd Per-User Daemon Manager
After=initd-supervisor.service

[Service]
Type=oneshot
ExecStart=@LIBEXECDIR@/initd/initd-user-manager start
ExecStop=@LIBEXECDIR@/initd/initd-user-manager stop
ExecReload=@LIBEXECDIR@/initd/initd-user-manager reload
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
