[Unit]
Description=initd Per-User Daemon Session
After=default.target

[Service]
Type=simple
ExecStart=/usr/libexec/initd/initd-user-session start
ExecStop=/usr/libexec/initd/initd-user-session stop
RemainAfterExit=yes

[Install]
WantedBy=default.target
