[Unit]
Description=Load Kernel Modules
DefaultDependencies=no
After=mountvirtfs.service
Before=udevd.service sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@LIBEXECDIR@/service-scripts/modules-load

[Install]
WantedBy=sysinit.target
