[Unit]
Description=Load Kernel Modules
DefaultDependencies=no
After=mountvirtfs.service
Before=sysinit.target
ConditionPathExists=@INITD_SYSCONFIG_DIR@/modules.conf

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@LIBEXECDIR@/service-scripts/modules-load

[Install]
WantedBy=sysinit.target
