[Unit]
Description=Mount Virtual Filesystems
DefaultDependencies=no
Conflicts=shutdown.target
Before=modules-load.service sysinit.target shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@LIBEXECDIR@/service-scripts/mountvirtfs

[Install]
WantedBy=sysinit.target
