[Unit]
Description=Mount All Filesystems
DefaultDependencies=no
After=remount-root.service udev-settle.service
Before=sysinit.target local-fs.target
Provides=$local_fs

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mount --all --test-opts no_netdev
ExecStop=/sbin/losetup -D
ExecStop=/bin/umount --all --detach-loop --read-only --types notmpfs,nosysfs,nodevtmpfs,noproc,nodevpts
ExecStop=/bin/mount --options remount,ro /

[Install]
WantedBy=sysinit.target
