[Unit]
Description=Network Configuration for %I
After=basic.target
Before=network.target
ConditionPathExists=@INITD_SYSCONFIG_DIR@/network-%I.conf
Provides=$network

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@LIBEXECDIR@/service-scripts/network-configure %I up
ExecStop=@LIBEXECDIR@/service-scripts/network-configure %I down

[Install]
WantedBy=multi-user.target
