[Unit]
Description=Rescue Shell
Documentation=man:sulogin(8)

[Service]
Type=simple
ExecStart=/sbin/sulogin
StandardInput=tty-force
StandardOutput=tty
StandardError=tty
TTYPath=/dev/console
Restart=always
RestartSec=0

[Install]
WantedBy=rescue.target
