[Unit]
Description=Activate Swap
DefaultDependencies=no
After=udev-settle.service shutdown.target
Before=checkfs.service mountfs.service sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@SBINDIR@/swapon -a
ExecStop=@SBINDIR@/swapoff -a

[Install]
WantedBy=sysinit.target
