[Unit]
Description=Apply Kernel Parameters
DefaultDependencies=no
After=mountfs.service
Before=sysinit.target
ConditionPathExists=@SYSCONFDIR@/sysctl.conf

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@SBINDIR@/sysctl -q -p

[Install]
WantedBy=sysinit.target
