[Unit]
Description=Retry Failed udev Events
DefaultDependencies=no
After=createfiles.service
Before=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@LIBEXECDIR@/service-scripts/udev-retry

[Install]
WantedBy=sysinit.target
