[Unit]
Description=udev Daemon
DefaultDependencies=no
After=modules-load.service
Before=udev-trigger.service sysinit.target
Provides=udev

[Service]
Type=simple
ExecStart=@SBINDIR@/udevd --daemon
Environment=SYSTEMD_LOG_TARGET=kmsg

[Install]
WantedBy=sysinit.target
