[Unit]
Description=Retry Failed udev Events
DefaultDependencies=no
After=mountfs.service
Before=sysinit.target
ConditionPathExists=@INITD_SYSCONFIG_DIR@/udev_retry.conf

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@LIBEXECDIR@/service-scripts/udev-retry

[Install]
# Not installed by default - only needed for systems without initramfs
# WantedBy=sysinit.target
