[Unit]
Description=Wait for udev To Complete Device Initialization
DefaultDependencies=no
After=udev-trigger.service
Before=swap.service sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/udevadm settle

[Install]
WantedBy=sysinit.target
