[Unit]
Description=udev Coldplug Trigger
DefaultDependencies=no
After=udevd.service
Before=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@LIBEXECDIR@/service-scripts/udev-trigger

[Install]
WantedBy=sysinit.target
