[Unit]
Description=Basic System
Requires=sysinit.target
Wants=console.service
After=sysinit.target console.service
Before=multi-user.target graphical.target
OnFailure=rescue.target
