[Unit]
Description=Load Kernel Modules
DefaultDependencies=no
After=mountvirtfs.service
Before=sysinit.target
ConditionPathExists=/etc/initd/sysconfig/modules.conf

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/lib/initd/service-scripts/modules-load

[Install]
WantedBy=sysinit.target
