[Unit]
Description=Apply Kernel Parameters
DefaultDependencies=no
After=mountfs.service
Before=sysinit.target
ConditionPathExists=/etc/sysctl.conf

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/sysctl -q -p

[Install]
WantedBy=sysinit.target
