[Unit]
Description=System Initialization
Wants=mountvirtfs.service modules-load.service udevd.service udev-trigger.service udev-settle.service localnet.service swap.service checkfs.service remount-root.service mountfs.service sysctl.service udev-retry.service createfiles.service
After=mountvirtfs.service modules-load.service udevd.service udev-trigger.service udev-settle.service localnet.service swap.service checkfs.service remount-root.service mountfs.service sysctl.service udev-retry.service createfiles.service
